/*
 * Copyright (c) 2014 T-Systems Multimedia Solutions GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * AppMon Server REST API
 * The AppMon Server exposes management and integration functionality via REST endpoints. This interactive documentation also acts as a REST client you can use to interact with the AppMon Server.  The HTTP status code of the response shows the result of your request. The expected response code for a successful request is documented individually per REST endpoint. Additionally the following error response codes can typically occur in our REST interface:  * **400** - Bad Request: Some request parameters are not correct. * **401** - Unauthorized: A valid authorization header (Basic Authentication) is required but is not available. * **403** - Forbidden: Execution of request is not allowed, e.g. the user has no privileges. * **404** - Not Found: Endpoint does not exist or some entities could not be found, e.g. System Profile. * **500** - Internal Server Error: See response body for details.  Additional [usage examples](https://www.dynatrace.com/support/doc/appmon70/shortlink/id_server_rest_examples) can be found in the AppMon documentation. 
 *
 * OpenAPI spec version: 2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.api;

import com.google.gson.reflect.TypeToken;
import com.squareup.okhttp.Call;
import com.squareup.okhttp.Interceptor;
import com.squareup.okhttp.Response;
import de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.*;
import de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.model.ActivationStatus;
import de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.model.SystemProfile;
import de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.model.SystemProfileConfigurations;
import de.tsystems.mms.apm.performancesignature.dynatrace.rest.json.model.SystemProfiles;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SystemProfilesApi {
    private ApiClient apiClient;

    public SystemProfilesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SystemProfilesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getProfiles
     *
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getProfilesCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles";

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, null, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getProfilesValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        return getProfilesCall(progressListener, progressRequestListener);
    }

    /**
     * List System Profiles
     * Get a list of all System Profiles of the AppMon Server.
     *
     * @return SystemProfiles
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemProfiles getProfiles() throws ApiException {
        ApiResponse<SystemProfiles> resp = getProfilesWithHttpInfo();
        return resp.getData();
    }

    /**
     * List System Profiles
     * Get a list of all System Profiles of the AppMon Server.
     *
     * @return ApiResponse&lt;SystemProfiles&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemProfiles> getProfilesWithHttpInfo() throws ApiException {
        Call call = getProfilesValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<SystemProfiles>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Build call for getSystemProfileConfigurationStatus
     *
     * @param profileid               System Profile id (required)
     * @param configname              Configuration name (required)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getSystemProfileConfigurationStatusCall(String profileid, String configname, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}/configurations/{configname}/status"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid))
                .replaceAll("\\{" + "configname" + "\\}", apiClient.escapeString(configname));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, null, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getSystemProfileConfigurationStatusValidateBeforeCall(String profileid, String configname, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling getSystemProfileConfigurationStatus(Async)");
        }

        // verify the required parameter 'configname' is set
        if (configname == null) {
            throw new ApiException("Missing the required parameter 'configname' when calling getSystemProfileConfigurationStatus(Async)");
        }

        return getSystemProfileConfigurationStatusCall(profileid, configname, progressListener, progressRequestListener);
    }

    /**
     * Activation status of System Profile configuration
     * Retrieve the activation state of a System Profile configuration.
     *
     * @param profileid  System Profile id (required)
     * @param configname Configuration name (required)
     * @return ActivationStatus
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ActivationStatus getSystemProfileConfigurationStatus(String profileid, String configname) throws ApiException {
        ApiResponse<ActivationStatus> resp = getSystemProfileConfigurationStatusWithHttpInfo(profileid, configname);
        return resp.getData();
    }

    /**
     * Activation status of System Profile configuration
     * Retrieve the activation state of a System Profile configuration.
     *
     * @param profileid  System Profile id (required)
     * @param configname Configuration name (required)
     * @return ApiResponse&lt;ActivationStatus&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ActivationStatus> getSystemProfileConfigurationStatusWithHttpInfo(String profileid, String configname) throws ApiException {
        Call call = getSystemProfileConfigurationStatusValidateBeforeCall(profileid, configname, null, null);
        Type localVarReturnType = new TypeToken<ActivationStatus>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Build call for getSystemProfileConfigurations
     *
     * @param profileid               System Profile id (required)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getSystemProfileConfigurationsCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}/configurations"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, null, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getSystemProfileConfigurationsValidateBeforeCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling getSystemProfileConfigurations(Async)");
        }

        return getSystemProfileConfigurationsCall(profileid, progressListener, progressRequestListener);
    }

    /**
     * List System Profile configurations
     * Get a list of all configurations of the specified System Profile.
     *
     * @param profileid System Profile id (required)
     * @return SystemProfileConfigurations
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemProfileConfigurations getSystemProfileConfigurations(String profileid) throws ApiException {
        ApiResponse<SystemProfileConfigurations> resp = getSystemProfileConfigurationsWithHttpInfo(profileid);
        return resp.getData();
    }

    /**
     * List System Profile configurations
     * Get a list of all configurations of the specified System Profile.
     *
     * @param profileid System Profile id (required)
     * @return ApiResponse&lt;SystemProfileConfigurations&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemProfileConfigurations> getSystemProfileConfigurationsWithHttpInfo(String profileid) throws ApiException {
        Call call = getSystemProfileConfigurationsValidateBeforeCall(profileid, null, null);
        Type localVarReturnType = new TypeToken<SystemProfileConfigurations>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Build call for getSystemProfileMetaData
     *
     * @param profileid               System Profile id (required)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getSystemProfileMetaDataCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, null, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getSystemProfileMetaDataValidateBeforeCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling getSystemProfileMetaData(Async)");
        }

        return getSystemProfileMetaDataCall(profileid, progressListener, progressRequestListener);
    }

    /**
     * System Profile Metadata
     * Get a JSON representation describing the System Profile and its meta data.
     *
     * @param profileid System Profile id (required)
     * @return SystemProfile
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SystemProfile getSystemProfileMetaData(String profileid) throws ApiException {
        ApiResponse<SystemProfile> resp = getSystemProfileMetaDataWithHttpInfo(profileid);
        return resp.getData();
    }

    /**
     * System Profile Metadata
     * Get a JSON representation describing the System Profile and its meta data.
     *
     * @param profileid System Profile id (required)
     * @return ApiResponse&lt;SystemProfile&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SystemProfile> getSystemProfileMetaDataWithHttpInfo(String profileid) throws ApiException {
        Call call = getSystemProfileMetaDataValidateBeforeCall(profileid, null, null);
        Type localVarReturnType = new TypeToken<SystemProfile>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Build call for getSystemProfileState
     *
     * @param profileid               System Profile id (required)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call getSystemProfileStateCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}/status"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, null, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call getSystemProfileStateValidateBeforeCall(String profileid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling getSystemProfileState(Async)");
        }

        return getSystemProfileStateCall(profileid, progressListener, progressRequestListener);
    }

    /**
     * Activation status of System Profile
     * Retrieve the activation state of a System Profile.
     *
     * @param profileid System Profile id (required)
     * @return ActivationStatus
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ActivationStatus getSystemProfileState(String profileid) throws ApiException {
        ApiResponse<ActivationStatus> resp = getSystemProfileStateWithHttpInfo(profileid);
        return resp.getData();
    }

    /**
     * Activation status of System Profile
     * Retrieve the activation state of a System Profile.
     *
     * @param profileid System Profile id (required)
     * @return ApiResponse&lt;ActivationStatus&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ActivationStatus> getSystemProfileStateWithHttpInfo(String profileid) throws ApiException {
        Call call = getSystemProfileStateValidateBeforeCall(profileid, null, null);
        Type localVarReturnType = new TypeToken<ActivationStatus>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Build call for putSystemProfileConfigurationStatus
     *
     * @param profileid               System Profile id (required)
     * @param configname              Configuration name (required)
     * @param body                    Activation state (optional)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call putSystemProfileConfigurationStatusCall(String profileid, String configname, ActivationStatus body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}/configurations/{configname}/status"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid))
                .replaceAll("\\{" + "configname" + "\\}", apiClient.escapeString(configname));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
                "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, body, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call putSystemProfileConfigurationStatusValidateBeforeCall(String profileid, String configname, ActivationStatus body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling putSystemProfileConfigurationStatus(Async)");
        }

        // verify the required parameter 'configname' is set
        if (configname == null) {
            throw new ApiException("Missing the required parameter 'configname' when calling putSystemProfileConfigurationStatus(Async)");
        }

        return putSystemProfileConfigurationStatusCall(profileid, configname, body, progressListener, progressRequestListener);
    }

    /**
     * Activate System Profile configuration
     * Change the activation state of a System Profile. Activating a configuration automatically sets all other configurations to DISABLED. Manually setting the activation state to DISABLED via this call is not allowed.
     *
     * @param profileid  System Profile id (required)
     * @param configname Configuration name (required)
     * @param body       Activation state (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putSystemProfileConfigurationStatus(String profileid, String configname, ActivationStatus body) throws ApiException {
        putSystemProfileConfigurationStatusWithHttpInfo(profileid, configname, body);
    }

    /**
     * Activate System Profile configuration
     * Change the activation state of a System Profile. Activating a configuration automatically sets all other configurations to DISABLED. Manually setting the activation state to DISABLED via this call is not allowed.
     *
     * @param profileid  System Profile id (required)
     * @param configname Configuration name (required)
     * @param body       Activation state (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putSystemProfileConfigurationStatusWithHttpInfo(String profileid, String configname, ActivationStatus body) throws ApiException {
        Call call = putSystemProfileConfigurationStatusValidateBeforeCall(profileid, configname, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Build call for putSystemProfileState
     *
     * @param profileid               System Profile id (required)
     * @param body                    Activation state (optional)
     * @param progressListener        Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public Call putSystemProfileStateCall(String profileid, ActivationStatus body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // create path and map variables
        String localVarPath = "/profiles/{profileid}/status"
                .replaceAll("\\{" + "profileid" + "\\}", apiClient.escapeString(profileid));

        List<Pair> localVarQueryParams = new ArrayList<>();

        Map<String, String> localVarHeaderParams = new HashMap<>();

        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
                "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new Interceptor() {
                @Override
                public Response intercept(Chain chain) throws IOException {
                    Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[]{"basicAuth"};
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, body, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private Call putSystemProfileStateValidateBeforeCall(String profileid, ActivationStatus body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'profileid' is set
        if (profileid == null) {
            throw new ApiException("Missing the required parameter 'profileid' when calling putSystemProfileState(Async)");
        }

        return putSystemProfileStateCall(profileid, body, progressListener, progressRequestListener);
    }

    /**
     * Enable/disable System Profile
     * Change the activation state of a System Profile.
     *
     * @param profileid System Profile id (required)
     * @param body      Activation state (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putSystemProfileState(String profileid, ActivationStatus body) throws ApiException {
        putSystemProfileStateWithHttpInfo(profileid, body);
    }

    /**
     * Enable/disable System Profile
     * Change the activation state of a System Profile.
     *
     * @param profileid System Profile id (required)
     * @param body      Activation state (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putSystemProfileStateWithHttpInfo(String profileid, ActivationStatus body) throws ApiException {
        Call call = putSystemProfileStateValidateBeforeCall(profileid, body, null, null);
        return apiClient.execute(call);
    }
}
