sudo: required # for setting hostname
addons:
  hostname: localhost #https://github.com/travis-ci/travis-ci/issues/5227
language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
notifications:
  slack: esigate:UgRe31idARp4sQmoz3huPGJU
