root=/java/jars
jaxp.home=${root}
jaxp.jaxp.jar=${jaxp.home}/jaxp.jar
jaxp.parser.jar=${jaxp.home}/crimson.jar

# Commons projects -- correct if 'ant dist' is run on each project in the
# default CVS directory layout
commons-beanutils.home=../beanutils/dist
commons-beanutils.jar=${commons-beanutils.home}/commons-beanutils.jar
commons-collections.home=../collections/dist
commons-collections.jar=${commons-collections.home}/commons-collections.jar
commons-logging.home=../logging/dist
commons-logging.jar=${commons-logging.home}/commons-logging.jar

# junit.jar - JUnit 3.7+ Classpath
junit.jar=${root}/junit.jar
