16 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting the jetty
47 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Logging to net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger@1a918d5 via net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger
281 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting jetty as : http://localhost:8080/
281 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - jetty-6.1.11
859 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SocketConnector@0.0.0.0:8080
922 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SelectChannelConnector@0.0.0.0:8080
2500 [btpool0-8] WARN com.opensymphony.oscache.base.Config - OSCache: No properties file found in the classpath by filename /oscache.properties
2500 [btpool0-8] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Constructed GeneralCacheAdministrator()
2500 [btpool0-8] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Creating new cache
3000 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Stopping the jetty
3000 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SelectChannelConnector@0.0.0.0:8080
3000 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SocketConnector@0.0.0.0:8080
3578 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@1f1cbf6{/aggregated1,file:/D:/projets/webassembletool/bin/aggregated1/}
3578 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@98350a{/aggregated2,file:/D:/projets/webassembletool/bin/aggregated2/}
3578 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@12cd19d{/aggregator,file:/D:/projets/webassembletool/bin/aggregator/}
3593 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@158015a{/master,file:/D:/projets/webassembletool/bin/master/}
3593 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@12d8ecd{/provider,file:/D:/projets/webassembletool/bin/provider/}
4609 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting the jetty
4656 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting jetty as : http://localhost:8080/
4656 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - jetty-6.1.11
4999 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SocketConnector@0.0.0.0:8080
4999 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SelectChannelConnector@0.0.0.0:8080
5265 [btpool1-0] WARN com.opensymphony.oscache.base.Config - OSCache: No properties file found in the classpath by filename /oscache.properties
5265 [btpool1-0] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Constructed GeneralCacheAdministrator()
5265 [btpool1-0] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Creating new cache
5624 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Stopping the jetty
5624 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SelectChannelConnector@0.0.0.0:8080
5624 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SocketConnector@0.0.0.0:8080
5624 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@53b2c{/aggregated1,file:/D:/projets/webassembletool/bin/aggregated1/}
5624 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@1e2b67c{/aggregated2,file:/D:/projets/webassembletool/bin/aggregated2/}
5640 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@7b37df{/aggregator,file:/D:/projets/webassembletool/bin/aggregator/}
5640 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@9ffb18{/master,file:/D:/projets/webassembletool/bin/master/}
5640 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@1450f1f{/provider,file:/D:/projets/webassembletool/bin/provider/}
6655 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting the jetty
6702 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Starting jetty as : http://localhost:8080/
6702 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - jetty-6.1.11
6936 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SocketConnector@0.0.0.0:8080
6952 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Started SelectChannelConnector@0.0.0.0:8080
7249 [btpool2-7] WARN com.opensymphony.oscache.base.Config - OSCache: No properties file found in the classpath by filename /oscache.properties
7249 [btpool2-7] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Constructed GeneralCacheAdministrator()
7249 [btpool2-7] INFO com.opensymphony.oscache.general.GeneralCacheAdministrator - Creating new cache
16981 [main] INFO net.webassembletool.webapptest.WebAppTestCase - Stopping the jetty
16981 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SelectChannelConnector@0.0.0.0:8080
16981 [btpool2-6 - Acceptor0 SelectChannelConnector@0.0.0.0:8080] WARN net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - EXCEPTION 
java.nio.channels.ClosedChannelException
	at sun.nio.ch.ServerSocketChannelImpl.accept(Unknown Source)
	at org.mortbay.jetty.nio.SelectChannelConnector$1.acceptChannel(SelectChannelConnector.java:75)
	at org.mortbay.io.nio.SelectorManager$SelectSet.doSelect(SelectorManager.java:480)
	at org.mortbay.io.nio.SelectorManager.doSelect(SelectorManager.java:167)
	at org.mortbay.jetty.nio.SelectChannelConnector.accept(SelectChannelConnector.java:124)
	at org.mortbay.jetty.AbstractConnector$Acceptor.run(AbstractConnector.java:707)
	at org.mortbay.thread.QueuedThreadPool$PoolThread.run(QueuedThreadPool.java:488)
16981 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown SocketConnector@0.0.0.0:8080
17013 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@108c1b7{/aggregated1,file:/D:/projets/webassembletool/bin/aggregated1/}
17013 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@1a2cc7{/aggregated2,file:/D:/projets/webassembletool/bin/aggregated2/}
17013 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@a0afab{/aggregator,file:/D:/projets/webassembletool/bin/aggregator/}
17013 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@d593f7{/master,file:/D:/projets/webassembletool/bin/master/}
17013 [main] INFO net.webassembletool.webapptest.jetty.CommonsLoggingJettyLogger - Graceful shutdown org.mortbay.jetty.webapp.WebAppContext@1ebf5c{/provider,file:/D:/projets/webassembletool/bin/provider/}
