<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Sparkle
Version    : 1.0
Released   : 20070419
Description: A three-column fixed-width template suitable for blogs and small websites. Space is provided for ad placements.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><!--$beginparam$title$-->Sparkle by Free Css Templates<!--$endparam$title$--></title>


<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://sourceforge.net/p/webassembletool/code/HEAD/tree/trunk/src/site/resources/examples/templates/sparkle/default.css?format=raw" rel="stylesheet" type="text/css" />
<!--$beginparam$head$--><!--$endparam$head$-->
</head>
<body>
<div id="header">
	<h1><a href="http://www.esigate.org/">Web Assemble Tool</a></h1>
	<h2><a href="http://freecsstemplates.org/">Template is : Sparkle by Free Css Templates </a></h2>
</div>
<div id="menu">
<!--$beginparam$menu$-->
	<ul>
		<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
		<li><a href="#" accesskey="2" title="">My Blog</a></li>
		<li><a href="#" accesskey="3" title="">My Photos</a></li>
		<li><a href="#" accesskey="4" title="">My Bookmarks</a></li>
		<li><a href="#" accesskey="5" title="">Contact Me</a></li>
	</ul>
<!--$endparam$menu$-->
</div>
<div id="content">
	<div id="colOne">
<!--$beginparam$colOne$-->
		<h2>Recent Updates</h2>
		<h3>Etiam suscipit et</h3>
		<p>Rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p>
		<h3>Nunc pellentesque</h3>
		<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="#">More&#8230;</a></p>
		<h3>Suspendis potenti</h3>
		<p>Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. <a href="#">More&#8230;</a></p>
		<p><a href="#"><img src="http://sourceforge.net/p/webassembletool/code/HEAD/tree/trunk/src/site/resources/examples/templates/sparkle/images/img5.jpg?format=raw" alt="" width="160" height="120" /></a></p>
<!--$endparam$colOne$-->
	</div>
	<div id="colTwo">
	<!--$beginparam$colTwo$-->
		<h2>Welcome to Sparkle!</h2>
		<p><em><strong>Sparkle</strong></em> is a free template from <a href="http://freecsstemplates.org/"><strong>Free CSS Templates</strong></a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. All photos are from <a href="http://pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
		<p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
		<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
		<ol>
			<li><a href="#">Suspendisse quis gravida massa felis</a></li>
			<li><a href="#">Vivamus sagittis bibendum erat</a></li>
			<li><a href="#">Nullam et orci in erat viverra ornare</a></li>
			<li><a href="#">Suspendisse quis gravida massa felis</a></li>
			<li><a href="#">Curabitur malesuada turpis nec ante</a></li>
		</ol>
		<h3>Lorem Ipsum Dolore </h3>
		<p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec.</p>
		<p><a href="#">Pellentesque sed vestibulum blandit&#8230;</a></p>
<!--$endparam$colTwo$-->
	</div>
	<div id="colThree">
		<!--$beginparam$colThree$-->
	 <a href="#"><img src="http://sourceforge.net/p/webassembletool/code/HEAD/tree/trunk/src/site/resources/examples/templates/sparkle/images/ad_120x600.jpg?format=raw" alt="" width="120" height="600" /></a><!--$endparam$colThree$--></div>
	<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
<!--$beginparam$footer$-->
	<p>Copyright &copy; 2006 Sparkle. Designed by <a href="http://freecsstemplates.org"><strong>Free CSS Templates</strong></a></p>
<!--$endparam$footer$-->
</div>
</body>
</html>
