<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<servlet>
		<servlet-name>aggregator1</servlet-name>
		<servlet-class>net.webassembletool.aggregator.AggregatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aggregator2</servlet-name>
		<servlet-class>net.webassembletool.aggregator.AggregatorServlet</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>aggregated2</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>rawhttpserver</servlet-name>
		<servlet-class>net.webassembletool.aggregator.AggregatorServlet</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>rawhttpserver</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>aggregator1</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aggregator2</servlet-name>
		<url-pattern>/ag2/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rawhttpserver</servlet-name>
		<url-pattern>/raw/*</url-pattern>
	</servlet-mapping>
</web-app>