<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>org.esigate.servlet.ProxyServlet</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>proxy2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
</web-app>
