html, body {
	height: 100%;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-user-select: none;
}

#columns {
	display: -webkit-box;
	-webkit-box-flex: 1.0;
}

.header {
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
}

#status {
	display: -webkit-box;
}

#left, #right {
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#right {
	width: 100%;
	-webkit-box-flex: 1.0;
}

#controllers, #topology {
	-webkit-box-flex: 1.0;
	position: relative;
}

#selectedFlows {
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#flowChooser {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	display: -webkit-box;
	overflow: scroll;
}

.selectedFlow {
	display: -webkit-box;
	position: relative;
}

.selectedFlow .srcDPID, .selectedFlow .dstDPID {
	-webkit-user-select: auto;
}

#selectedFlowsHeader {
	display: -webkit-box;
	height: 1.5em;
}


.flowId {
	width: 5em;
}


.iperf {
	width: 100%;
	-webkit-box-flex: 1.0;
}

#controllers {
	display: -webkit-box;
	-webkit-box-orient: vertical;
}


#controllerList {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1.0;
	overflow: scroll;
}

.controller {
	margin: .25em;
	background-color: blue;
}

#svg-container {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
}
