
body {
	background-color: black;
	color: white;
	font-family: Helvetica;
	margin: 0px;
}

.status {
	padding: 1em;
	border-right: 1px solid white;
}

.status:last-child {
	border-right: none;
}

.status .static {
	color: white;
	padding: .25em;
}

.status .dynamic {
	color: blue;
	padding: .25em;
}

.button {
	padding: 1em;
	background-color: lightgray;
	color: black;
	border: 1px solid white;
}

.header {
	height: 50px;
}

#left .header {
	background-color: lightgreen;
}

#right .header {
	background-color: lightblue;
	font-size: 12px;
	padding-right: .25em;
	-webkit-box-sizing: border-box;
}

#controllers {
	background-color: darkgreen;
}

#topology {
	background-color: blue;
}

#logo {
	height: 50px;
}

.edge {
	fill: lightgray;
	stroke: black;
	stroke-width: 1.5px;
}

.aggregation {
	fill: darkgrey;
	stroke: black;
	stroke-width: 2px;
}
