<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<item id="index" title="Home" />
	<item id="features" title="Features" />
	<link href="download.html" title="Download" />
	<item id="quickstart" title="Quick start" />
	<link href="javadoc/index.html" title="Javadoc" />
	<item id="faq" title="FAQ" />
</menu>