.title{
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	padding-bottom: 40px;
}
#menu {
	position: absolute;
	left: 0px;
	width: 170px;
}
#main {
	position: absolute;
	left: 200px;
}
table {
	border: 1px solid black;
}
td, th {
	border: 1px solid black;
}
code {
	white-space: pre; 
} 