<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="aggregated1">
	<display-name>aggregated1</display-name>
	<servlet>
		<servlet-name>ChunkedEncodingServlet</servlet-name>
		<servlet-class>net.webassembletool.test.ChunkedEncodingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChunkedEncodingServlet</servlet-name>
		<url-pattern>/ChunkedEncodingServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>