# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/var/lib/zookeeper
# the port at which the clients will connect
clientPort=2181
#
# specify all servers in the Zookeeper ensemble

#server.1=onosgui1:2888:3888
#server.2=onosgui2:2888:3888
#server.3=onosgui3:2888:3888
#server.4=onosgui4:2888:3888
#server.5=onosgui5:2888:3888
#server.6=onosgui6:2888:3888
#server.7=onosgui7:2888:3888
#server.8=onosgui8:2888:3888
#
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
server.1=test1:2888:3888
server.2=test2:2888:3888
server.3=test3:2888:3888
server.4=test4:2888:3888
