<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
    <mirrors>
          <mirror>
               <id>maven-default-http-blocker</id>
               <mirrorOf>dummy</mirrorOf>
               <name>Dummy mirror to override default blocking mirror that blocks http</name>
               <url>http://0.0.0.0/</url>
         </mirror>
    </mirrors>
    <profiles>
         <profile>
              <id>vul4j-legacy-repositories</id>
              <repositories>
                   <repository>
                        <id>redhat-ga</id>
                        <url>https://maven.repository.redhat.com/ga/</url>
                        <releases>
                             <enabled>true</enabled>
                        </releases>
                        <snapshots>
                             <enabled>false</enabled>
                        </snapshots>
                   </repository>
              </repositories>
         </profile>
    </profiles>
    <activeProfiles>
         <activeProfile>vul4j-legacy-repositories</activeProfile>
    </activeProfiles>
</settings>
