<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>Maven</title>
		<author email="fxbonnet@users.sourceforge.net">Francois-Xavier Bonnet</author>
	</properties>
	<body>
		<section name="Using the Website Assembling Toolkit in a Maven project">
			<p>
				The Website Assembling Toolkit has not been deployed yet on Maven central 
				repository. You have to add the Website Assembling Toolkit repository to
				your pom.xml
			</p>
			<source>
&lt;repository&gt;
	&lt;id&gt;webassembletool-repository&lt;/id&gt;
	&lt;name&gt;Website Assembling Toolkit repository&lt;/name&gt;
	&lt;url&gt;http://webassembletool.sourceforge.net/maven/repository&lt;/url&gt;
&lt;/repository&gt;
			</source>
			<p>
				Then you can add the dependency. For the core API:
			</p>
			<source>
&lt;dependency&gt;
	&lt;groupId&gt;net.sourceforge.webassembletool&lt;/groupId&gt;
	&lt;artifactId&gt;webassembletool-core&lt;/artifactId&gt;
	&lt;version&gt;${currentVersion}&lt;/version&gt;
&lt;/dependency&gt;
			</source>
			<p>
				For the taglib (in master application):
			</p>
			<source>
&lt;dependency&gt;
	&lt;groupId&gt;net.sourceforge.webassembletool&lt;/groupId&gt;
	&lt;artifactId&gt;webassembletool-taglib&lt;/artifactId&gt;
	&lt;version&gt;${currentVersion}&lt;/version&gt;
&lt;/dependency&gt;
			</source>
			<p>
				For the taglib (in a jsf master application):
			</p>
			<source>
&lt;dependency&gt;
	&lt;groupId&gt;net.sourceforge.webassembletool&lt;/groupId&gt;
	&lt;artifactId&gt;webassembletool-jsf&lt;/artifactId&gt;
	&lt;version&gt;${currentVersion}&lt;/version&gt;
&lt;/dependency&gt;
			</source>
			<p>
				For the taglib (in provider application, if java application):
			</p>
			<source>
&lt;dependency&gt;
	&lt;groupId&gt;net.sourceforge.webassembletool&lt;/groupId&gt;
	&lt;artifactId&gt;webassembletool-taglib-helper&lt;/artifactId&gt;
	&lt;version&gt;${currentVersion}&lt;/version&gt;
&lt;/dependency&gt;
			</source>
		</section>
	</body>
</document>